<div th:fragment = "header">
<header class="header">
    <div class="container">
        <div class="header__row">
            <nav class="header__nav nav">
                <ul class="nav__list">
                    <li><a href="../MEN.html">FOR MEN</a>
                    </li>
                    <li>
                        <a href="../GIRL.html">FOR GIRLS</a>
                    </li>
                    <li>
                        <a href="../SNEAKERS.html">SNEAKERS</a>
                    </li>
                </ul>
                <div class="header__logo">
                    <a href="../index.html">
                        <img src="./img/header/FitForch.svg">
                    </a>
                </div>
                <div class="header__icon">
                    <a data-modal="" href="#">
                        <img src="./img/header/image 4.svg">
                    </a> <a href="../FAVORITES.html">
                    <img src="./img/header/image 3.svg">
                </a>
                    <a href="../BASKET.html">
                        <img src="./img/header/image 2.svg">
                    </a>
                </div>
            </nav>
        </div>
    </div>
</header>
</div>